{% extends 'base.html.twig' %}

{% block title %}Hello StripeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 10% auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Paiement accepté ✅</h1>

    Nous souhaitions vous remercier pour votre récent achat. Nous sommes honorés de vous compter parmi nos clients et espérons que cela durera encore longtemps.
</div>
{% endblock %}
